html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.render-body {
    margin: 0 auto;
    
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.jumbotron {
    background-image: url("../img/table_gummies.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    padding-top: 0px;
    text-align: center;
    justify-content: center;
    padding-top: 200px;
    
}

.jumbotron h2 {
    color: white;
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
}

#logo {
    max-height: 30px;
}


.footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    height: 80px;
    width: 100%;
    border: solid transparent;
    border-width: 15px 0 0;
    border-image: 40 repeat url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0061/4072/rrrrainbow3.ai_drop_preview.png");
}

.navbar-default {
    background-color: white;
    border: solid transparent;
    border-width: 0px 0 15px;
    border-image: 40 repeat url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0061/4072/rrrrainbow3.ai_drop_preview.png");
    height: 20vh;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    
}

#brand, #navlink {
    height: 90px;
    padding-top: 35px;
}

#navlink:hover {
    background-image: url("../img/color6.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#navlink a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 7px 3px 3px black;
}

#brand a {
    color: #ffbf47;
    font-size: 20px;
    font-weight: bold;
    height: 90px;
    text-shadow: 1.5px .5px .5px lightgrey;
}

#navlink a {
    height: 90px;
}

#brand a:hover {
    color: black;
    text-decoration: none;
}

.navbar-nav a {
    margin: 60px;
    justify-content: center;
    color: darkgray;
}

img {
    max-height: 300px;
}

.flex-container {
    display: flex;
}

#pressheader {
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

#pressbody {
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    color: white;
}

.littlepress {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    border: 5px solid black;
    margin: 15px;
    padding: 15px;
    height: 300px;
    background: rgba(255, 255, 255, 0.3);
}

.littlepress h4 {
    color: black;
    padding-top: 40px;
    font-weight: bold;
}

.masonry { /* Masonry container */
    padding: 15px;
    column-count: 4;
    column-gap: 1em;
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}

.item { /* Masonry bricks or child elements */
    padding: 15px;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border: 5px solid white;
    background: rgba(0, 0, 0, 0.3);
}

.item:hover, .littlepress:hover {
    border: 5px solid black;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.post {
    display: flex;
    align-self: center;
    flex-direction: row;
    flex: 0 0 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    background-color: white;
    width: 75%;
}

.post img {
    max-height: 270px;
}

.post button {
    width: 100%;
}

#postimage {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    text-align: left;
    height: 100%;
}

#posttext {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    text-align: left;
    height: 100%;
}

#blogbody {
    text-align: left;
    margin: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.card {
    flex: 0 0 500px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    background-color: white;
    padding-top: 30px;
}

.flavor {
    flex: 0 0 300px;
    margin: 10px;
    background-color: white;
    padding-top: 30px;
}

.card img {
    max-width: 100%;
}

.card .text {
    padding: 0 20px 20px;
}

.card button {
    background-color: #9ACD32;
    border: 0;
    padding: 10px;
    width: 40%;
    align-self: center;
}

button {
    background-color: #800080;
    border: 0;
    padding: 10px;
    width: 40%;
    align-self: center;
}

button a {
    color: white;
}

button:hover {
    background-color: #191970;
}

button:hover a {
    color: white;
}

#postbutton {
    background-color: #9ACD32;
    border: 0;
    padding: 10px;
    width: 15%;
    align-self: center;
    margin: 15px;
}

a {
    color: tomato;
}

nav a {
    color: black;
}

input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 25%;
}

input[type="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.gummy {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.gummy:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.flex-div {
    display: flex;
    height: 60vh;
}

.bigitem {
    /* This will be twice as big as the small item. */
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    height: 60vh;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.smallitem {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    height: 60vh;
}

.bigfoot {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
    text-align: left;
    padding-left: 30px;
}

.littlefoot {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
    text-align: right;
    padding-right: 30px;
}

.littlefoot a {
    color: navy;
    font-weight: bold;
}



