@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gummi Bear Flavors</h2>
<main class="cards">
    <article class="flavor">
        <img src="../img/red.png" alt="photo no worky" class="gummy"/>
        <div class="text">
            <h3>Raspberry Red</h3>
        </div>
    </article>
    <article class="flavor">
        <img src="../img/yellow.png" alt="photo no worky" class="gummy" />
        <div class="text">
            <h3>Lemony Yellow</h3>
        </div>
    </article>
    <article class="flavor">
        <img src="../img/orange.png" alt="photo no worky" class="gummy" />
        <div class="text">
            <h3>Orangey Orange</h3>
        </div>
    </article>
    <article class="flavor">
        <img src="../img/green.png" alt="photo no worky" class="gummy" />
        <div class="text">
            <h3>Limey Green</h3>
        </div>
    </article>
</main>