@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h2>GUMMI BEAR KINGDOM</h2>
    </div>
</div>

<h1>Welcome to Gummi Bear Kingdom!</h1>
