@{
    ViewData["Title"] = "GBK Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GummiBearKingdom.Models.Blog>

<br /><br />
<h2>OUR BLOG</h2>
<main class="blog">
    <button id="postbutton">@Html.ActionLink("Add new post", "Create")</button>
    @foreach (var listPost in Model)
    {
        <article class="post">
            <div id="postimage">
                <img src=@Html.DisplayFor(image => listPost.Image) alt="photo no worky" />
            </div>
            <div id="posttext">
                <h3>@Html.DisplayFor(name => listPost.Title)</h3>
                <p>BY: @Html.DisplayFor(text => listPost.Author)</p>
                <hr />
                <button>@Html.ActionLink("Post Details", "Details", new { id = listPost.BlogId })</button>
            </div>
        </article>
    }
</main>

